# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Database
*.db
*.sqlite3

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# ChromaDB
backend/chroma_db/

# Node
node_modules/
.next/
out/
build/
.pnp.*
.yarn/*

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
*.tsbuildinfo
.vercel
